doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap')
    link(rel='stylesheet', href='https://pyscript.net/releases/2024.1.1/core.css')
    script(type='module' src='https://pyscript.net/releases/2024.1.1/core.js')
    script window.DATA = !{JSON.stringify(tables)}
    script(src="/bundle.js")
  body
    header
      img#logo(src='/logo.png')
      a Learn
    main
      #lesson
        .chapter= chapter.title
        .content !{content}
      #sandbox
        #editor
          pre #{models[0].code}
        #tables
          each table in tables
            table
              thead
                tr
                  each column in table.columns
                    th= column
              tbody
                each row in table.rows
                  tr
                    each value in row
                      td= value
    footer
    script(type='py' src='/main.py', config='/pyscript.toml' worker)