doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel='stylesheet', href='https://pyscript.net/releases/2024.1.1/core.css')
    script(type='module' src='https://pyscript.net/releases/2024.1.1/core.js')
    script window.DATA = !{JSON.stringify(tables)}
  body
    header
    #lesson
      .content !{content}
    #editor
      .editor-header
        button#run Run
      pre #{models[0].code}
    #tables
      each table in tables
        table
          thead
            tr
              each column in table.columns
                th= column
          tbody
            each row in table.rows
              tr
                each value in row
                  td= value
    #output
      script(type='py' src='/main.py', config='/pyscript.toml' terminal worker)
    script(src="/bundle.js")